<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.NSivrTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Required_Field_Validation_for_message_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_validation_message_with_upload_more_than_5MB_WAV_File</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_validation_message_with_upload_less_than_5MB_MP3_File</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_edit_ivr_options_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_special_character_validation_for_Message_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_press_field_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_message_field_updated_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_add_ivr_options_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_That_ivr_functionality_not_supported_in_Basic_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_Delete_ivr_options_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_validation_message_with_upload_more_than_5MB_MP3_File</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_change_language_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_change_Voice_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_validation_message_with_upload_less_than_5MB_WAV_File</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.ForgotPasswordTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>reset_Password_twice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_non_registered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>short_Password_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reset_password_without_entering_any_value_in_reset_password_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_reset_password_link_From_gmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_registered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Email_is_required_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Back_Signin_link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reset_Password_and_login_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mismatch_Reset_Password_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reset_Password_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.NSMusicAndMessagesTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Bronze_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Basic_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Bronze_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Basic_monthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_MP3_Audio_File_for_Call_Hold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_WAV_Audio_File_for_Voicemail_in_Basic_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Silver_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_MP3_Audio_File_for_Voicemail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_WAV_Audio_File_for_Call_Hold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voice_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Platinum_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_language_for_Voicemail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_WAV_Audio_File_for_Voicemail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Silver_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_WAV_Audio_File_for_CallHold_in_Basic_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Silver_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_voicemail_audioText_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Silver_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Basic_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Bronze_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_WAV_Music_File_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Basic_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Welcome_Message_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Platinum_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Bronze_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Welcome_Message_Toggle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Platinum_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_MP3_less_than_5MB_Music_File_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Bronze_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_Welcome_Message_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Bronze_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Basic_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Welcome_Voicemail_Toggle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Silver_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Basic_MonthlyPaln</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Platinum_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_MP3_Music_File_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Platinum_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Basic_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voice_for_Voicemail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_voicemail_audioText_validation_in_Silver_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Platinum_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Voicemail_Transcription_in_Silver_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Change_language_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Platinum_AnnuallyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Basic_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Platinum_AnnullyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Bronze_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_more_than_5MB_WAV_Music_File_for_welcome_message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_CallHold_in_Bronze_MonthlyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Upload_less_than_5MB_MP3_Audio_File_for_Voicemail_in_Silver_AnnullyPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.NSOpeningHoursTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_change_timezone_For_Opening_Hours</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_custom_option_For_Opening_Hours_in_basic_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_custom_option_For_Opening_Hours_in_basic_Monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_always_Closed_And_Always_Open_Button_For_Opening_Hours</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_custom_option_For_Opening_Hours_in_Bronze_Monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.NSAllocationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_allocation_to_Team_with_popup_Option_Yes_and_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_allocation_to_multiple_users_with_popup_Option_Yes_and_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_allocation_to_user_with_popup_Option_Yes_and_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_deallocation_to_user_with_popup_Option_Yes_and_No</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.DeleteNumberTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_delete_buttonIsDisplay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_delete_button_functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.USAllocateNumbersTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_deallocate_second_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_allocate_second_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Unchecked_set_as_default_number_checkbox_while_only_one_number_is_assigned_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_deAllocate_number_when_only_one_number_is_assigned_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_checked_By_default_number_checkbox_of_Second_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_By_default_number_checkbox_not_displayed_when_number_is_unassigned</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_checked_By_default_number_checkbox_of_First_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_deallocate_Number_which_checked_By_default_number_checkbox</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.AddNumberTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_location_By_search_CodePrefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annually_with_bronze_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Save_number_info_without_allocating_to_any_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_prefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_select_Country_And_Display_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_number_of_Voice_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_number_of_Voice_and_SMS_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annualy_without_selecting_any_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_silver_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_platinum_Monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_when_Silver_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_addNumberPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_previous_Button_in_Display_number_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annually_with_silver_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_all_modules_display_in_Numbers_setting_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_montly_with_bronze_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_with_platinum_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Bronze_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Next_Button_in_Display_number_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_prefix_and_Result_not_found</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_validation_of_number_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_loging_Successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_without_selecting_any_plan2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_silver_Monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_when_Platinum_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_2nd_number_montly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Platinum_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annully_when_Bronze_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_with_platinum_monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Silver_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_location_By_search_NamePrefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_platinum_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_2nd_number_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_without_selecting_any_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_country_list_to_add_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_montly_with_bronze_montly</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.RegistrationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFlag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_valid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Number_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFunllNameFieldIsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_validation_with_Valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_validation_with_Invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_validation_with_Valid_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_registered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_blocked_domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyExpiredLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_fullName_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_filled_all_Filled_IsEnabled</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_validation_with_Invalid_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Email_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_createAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_createAccount1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_valid_email_and_invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Forgot_Password_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_invalid_email_and_valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Required_fields_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_valid_email_and_valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_invalid_email_and_invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_button_is_disabled_with_blank_Email_and_password_combination</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.UsersTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_multiUsers_on_users_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_headers_main_user_on_userPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Users_page_is_open_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_delete_subUser_and_login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_user_setting_page_open_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.USForwordToDeviceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_number_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_add_duplicate_numbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_delete_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_add_multiple_numbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Forword_To_Device_Toggle</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.InviteUserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_emailAddressValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_User_without_adding_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invited_User_Register_page_fields_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_more_than_one_users_in_basic_plan_After_Invited_User_moved_to_Bronze</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Platinum_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_two_users_free_in_basicPlan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Bronze_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Platinum_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Silver_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Bronze_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Bronze_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Silver_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_two_Users_and_accept_ivitation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Bronze_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_User_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_User_pending_Status_and_SMS_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Platinum_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_Users_with_Silver_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Expired_invite_user_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_invite_User_page_Open_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Platinum_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_invite_multiple_Users_with_Silver_monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.NumberSettingTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_Department_name_of_number_Validation_with_change_department_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Bronze_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchased_number_And_Numbers_setting_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_verification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Department_name_of_number_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Show_CallHippo_Number_in_Incoming_Forwarded_Calls_Toggle_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Silver_montly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Silver_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Platinum_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Platinum_montly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Basic_Annually_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Basic_montly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_call_Recording_toggle_in_Bronze_montly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.USUserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_Extension_Field_Validation_While_running_Silver_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_Extension_Field_while_Runing_Basic_plan_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_Extension_Field_while_Runing_Platinum_plan_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_UserName_displayed_in_userSetting_Page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_EmailAddress_displayed_in_userSetting_Page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_Extension_Field_while_Runing_Bronze_plan_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_User_Setting_page_is_open_successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_functionality_of_fullName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.MagicLinkTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Hard_Deleted_sub_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Reactive_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Expired_MagicLink_on_Gmail_inbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Login_attempt_fail_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Cancel_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Unblocked_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_magicLink_button_enabled_by_clicking_on_checkbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_nonRegistered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_blocked_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Registered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Email_is_required_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_on_Gmail_inbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Hard_Deleted_main_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Deleted_sub_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_MagicLink_with_Deleted_Main_user</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.USVoicemailTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_WAV_music_file</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_mp3_music_file_in_Platinum_monthly_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_mp3_music_file_in_Silver_Annually_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Bronze_Annually_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_mp3_music_file_in_Silver_monthly_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_mp3_music_file_in_Platinum_Annually_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_music_file_while_basic_plan_is_running_UpgradePlan_through_select_Plan_popup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_more_than_5MB_mp3_music_file</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_more_than_5MB_WAV_music_file</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_mp3_music_file_while_basic_plan_is_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_less_than_5MB_mp3_music_file</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Silver_Annually_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_VoicemailToggle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_upload_WAV_music_file_while_basic_plan_is_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Bronze_Monthly_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Message_Field_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Language_Dropdown_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Platinum_Monthly_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Silver_Monthly_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_voice_Radio_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Platinum_Annually_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_edit_message_in_Basic_Monthly_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.USAvailabilityTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_Custom_button_in_Platinum_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Custom_button_in_Basic_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Custom_button_in_Silver_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_Update_timeZone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Always_opened_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Always_Closed_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Custom_button_in_Bronze_Plan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
