<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.AddNumberTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_location_By_search_CodePrefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annually_with_bronze_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Save_number_info_without_allocating_to_any_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_prefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_select_Country_And_Display_Number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_number_of_Voice_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_number_of_Voice_and_SMS_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annualy_without_selecting_any_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_silver_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_platinum_Monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_addNumberPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_when_Silver_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_previous_Button_in_Display_number_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_annually_with_silver_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_montly_with_bronze_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_all_modules_display_in_Numbers_setting_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_with_platinum_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Bronze_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Next_Button_in_Display_number_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_prefix_and_Result_not_found</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_validation_of_number_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_loging_Successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_without_selecting_any_plan2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_silver_Monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_when_Platinum_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_2nd_number_montly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Platinum_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annually_with_platinum_monthly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_Annully_when_Bronze_Annually_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_search_Number_with_location_By_search_NamePrefix</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_when_Silver_monthly_plan_running</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_with_platinum_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_monthly_without_selecting_any_plan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_2nd_number_Annually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_purchase_1st_number_montly_with_bronze_montly</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_country_list_to_add_number</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
