<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>20/01/20 18:36:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddNumberTest.initialization()[pri:0, instance:testCases.AddNumberTest@4961f6af]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1062635358</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/01/20 18:36:32</td>   <td>12184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNumberTest.verify_purchase_1st_number_monthly_when_Bronze_monthly_plan_running()[pri:27, instance:testCases.AddNumberTest@4961f6af]">verify_purchase_1st_number_monthly_when_Bronze_monthly_plan_running</td> 
  <td>main@1062635358</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/01/20 18:38:18</td>   <td>118780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddNumberTest.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.AddNumberTest@4961f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1062635358</td>   <td></td> </tr>
</table>
