<h2>Methods that were not run</h2><table>
<tr><td>testCases.AddNumberTest.Verify_Next_Button_in_Display_number_page</td></tr>
<tr><td>testCases.AddNumberTest.Verify_search_Number_with_prefix_and_Result_not_found</td></tr>
<tr><td>testCases.AddNumberTest.verify_validation_of_number_name</td></tr>
<tr><td>testCases.AddNumberTest.verify_loging_Successfully</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_without_selecting_any_plan2</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_with_silver_Monthly</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_Annually_when_Platinum_Annually_plan_running</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_2nd_number_montly</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_when_Silver_monthly_plan_running</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_with_platinum_Annually</td></tr>
<tr><td>testCases.AddNumberTest.Verify_search_Number_with_location_By_search_NamePrefix</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_Annually_with_platinum_monthly</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_Annully_when_Bronze_Annually_plan_running</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_when_Platinum_monthly_plan_running</td></tr>
<tr><td>testCases.AddNumberTest.verify_country_list_to_add_number</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_without_selecting_any_plan</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_2nd_number_Annually</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_montly_with_bronze_montly</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_annually_with_bronze_Annually</td></tr>
<tr><td>testCases.AddNumberTest.verify_select_Country_And_Display_Number</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_with_silver_Annually</td></tr>
<tr><td>testCases.AddNumberTest.Verify_search_Number_with_location_By_search_CodePrefix</td></tr>
<tr><td>testCases.AddNumberTest.Verify_search_Number_with_prefix</td></tr>
<tr><td>testCases.AddNumberTest.verify_Save_number_info_without_allocating_to_any_user</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_number_of_Voice_service</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_annualy_without_selecting_any_plan</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_Annually_with_platinum_Annually</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_monthly_with_platinum_Monthly</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_number_of_Voice_and_SMS_service</td></tr>
<tr><td>testCases.AddNumberTest.verify_addNumberPage</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_Annually_when_Silver_Annually_plan_running</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_montly_with_bronze_Annually</td></tr>
<tr><td>testCases.AddNumberTest.Verify_previous_Button_in_Display_number_page</td></tr>
<tr><td>testCases.AddNumberTest.verify_purchase_1st_number_annually_with_silver_Annually</td></tr>
<tr><td>testCases.AddNumberTest.verify_all_modules_display_in_Numbers_setting_page</td></tr>
</table>