<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.RegistrationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFlag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_valid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Number_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFunllNameFieldIsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_validation_with_Valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_password_validation_with_Invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_validation_with_Valid_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_registered_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_with_blocked_domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyExpiredLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_fullName_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_filled_all_Filled_IsEnabled</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_number_validation_with_Invalid_number</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_createAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Email_IsRequired</td>
<td>Signup-Required fields validation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_createAccount1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
