<h2>Methods that were not run</h2><table>
<tr><td>testCases.RegistrationTest.verify_email_validation_with_valid_email</td></tr>
<tr><td>testCases.RegistrationTest.verifyFunllNameFieldIsRequired</td></tr>
<tr><td>testCases.RegistrationTest.verify_password_validation_with_Valid_password</td></tr>
<tr><td>testCases.RegistrationTest.verify_Number_IsRequired</td></tr>
<tr><td>testCases.RegistrationTest.verify_number_validation_with_Valid_number</td></tr>
<tr><td>testCases.RegistrationTest.verify_email_validation_with_Invalid_email</td></tr>
<tr><td>testCases.RegistrationTest.verifyFlag</td></tr>
<tr><td>testCases.RegistrationTest.Verify_with_registered_email</td></tr>
<tr><td>testCases.RegistrationTest.Verify_with_blocked_domain</td></tr>
<tr><td>testCases.RegistrationTest.verifyExpiredLink</td></tr>
<tr><td>testCases.RegistrationTest.verify_password_IsRequired</td></tr>
<tr><td>testCases.RegistrationTest.verify_password_validation_with_Invalid_password</td></tr>
<tr><td>testCases.RegistrationTest.verify_number_validation_with_Invalid_number</td></tr>
<tr><td>testCases.RegistrationTest.Verify_fullName_validation</td></tr>
<tr><td>testCases.RegistrationTest.verify_Email_IsRequired</td></tr>
<tr><td>testCases.RegistrationTest.VerifyTitle</td></tr>
<tr><td>testCases.RegistrationTest.verify_with_filled_all_Filled_IsEnabled</td></tr>
<tr><td>testCases.RegistrationTest.Verify_createAccount</td></tr>
</table>