<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>19/12/30 11:32:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount1()[pri:0, instance:testCases.RegistrationTest@4466af20]">Verify_createAccount1</td> 
  <td>main@1961945640</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>19/12/30 11:31:59</td>   <td>-15317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@4466af20]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1961945640</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>19/12/30 11:32:40</td>   <td>25773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.tearDown(org.testng.ITestResult)[pri:0, instance:testCases.RegistrationTest@4466af20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1961945640</td>   <td></td> </tr>
</table>
