<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_valid_email_and_invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Forgot_Password_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_invalid_email_and_valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Required_fields_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_valid_email_and_valid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_with_invalid_email_and_invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_email_validation_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_button_is_disabled_with_blank_Email_and_password_combination</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>teardown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
