<h2>Methods that were not run</h2><table>
<tr><td>testCases.LoginTest.VerifyTitle</td></tr>
<tr><td>testCases.LoginTest.Verify_Forgot_Password_Link</td></tr>
<tr><td>testCases.LoginTest.Verify_Required_fields_validation</td></tr>
<tr><td>testCases.LoginTest.Verify_button_is_disabled_with_blank_Email_and_password_combination</td></tr>
</table>