<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>19/08/29 19:48:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@71809907]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:48:58</td>   <td>22827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@71809907]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:35</td>   <td>59860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@71809907]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:55</td>   <td>79426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@71809907]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:50:33</td>   <td>117790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@71809907]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:48:58</td>   <td>22824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@71809907]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:35</td>   <td>59859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@71809907]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:55</td>   <td>79425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@71809907]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:50:33</td>   <td>117789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@71809907]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:50:59</td>   <td>144283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@71809907]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:48:48</td>   <td>12507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@71809907]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:24</td>   <td>49334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_invalid_password()[pri:6, instance:testCases.LoginTest@71809907]">verify_with_invalid_email_and_invalid_password</td> 
  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:50:17</td>   <td>102204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_valid_password()[pri:8, instance:testCases.LoginTest@71809907]">verify_with_invalid_email_and_valid_password</td> 
  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:49:44</td>   <td>68819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_invalid_password()[pri:7, instance:testCases.LoginTest@71809907]">verify_with_valid_email_and_invalid_password</td> 
  <td>main@1740797075</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/08/29 19:50:49</td>   <td>133425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_valid_password()[pri:9, instance:testCases.LoginTest@71809907]">verify_with_valid_email_and_valid_password</td> 
  <td>main@1740797075</td>   <td></td> </tr>
</table>
