<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Signup-Required fields validation</td><td>RegistrationTest.verifyFunllNameFieldIsRequired()[pri:2, instance:testCases.RegistrationTest@3a93b025]<br/>RegistrationTest.verify_Number_IsRequired()[pri:4, instance:testCases.RegistrationTest@3a93b025]<br/>RegistrationTest.verify_password_IsRequired()[pri:6, instance:testCases.RegistrationTest@3a93b025]<br/>RegistrationTest.verify_Email_IsRequired()[pri:5, instance:testCases.RegistrationTest@3a93b025]<br/>RegistrationTest.VerifyTitle()[pri:1, instance:testCases.RegistrationTest@3a93b025]<br/>RegistrationTest.verify_with_filled_all_Filled_IsEnabled()[pri:7, instance:testCases.RegistrationTest@3a93b025]<br/></td></tr>
</table>
