<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:27</td>   <td>10991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_Forgot_Password_Link()[pri:1, instance:testCases.LoginTest@15ff3e9e]">Verify_Forgot_Password_Link</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:27</td>   <td>11661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:28</td>   <td>12338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:39</td>   <td>23922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifyTitle()[pri:2, instance:testCases.LoginTest@15ff3e9e]">VerifyTitle</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:39</td>   <td>23947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:40</td>   <td>24626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:51</td>   <td>34992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_Required_fields_validation()[pri:3, instance:testCases.LoginTest@15ff3e9e]">Verify_Required_fields_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:51</td>   <td>35476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:52</td>   <td>36139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:03</td>   <td>47947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_button_is_disabled_with_blank_Email_and_password_combination()[pri:4, instance:testCases.LoginTest@15ff3e9e]">Verify_button_is_disabled_with_blank_Email_and_password_combination</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:04</td>   <td>48599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:05</td>   <td>49291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:15</td>   <td>59797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:15</td>   <td>59933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:16</td>   <td>60603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>71004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>71138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>71808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:39</td>   <td>83298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:39</td>   <td>83441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:40</td>   <td>84102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:50</td>   <td>94753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:00</td>   <td>104918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:01</td>   <td>105590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:13</td>   <td>117758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:23</td>   <td>127912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:24</td>   <td>128626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:34</td>   <td>138040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:44</td>   <td>148225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:44</td>   <td>148919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:01</td>   <td>165178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:01</td>   <td>165349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:02</td>   <td>166017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:12</td>   <td>176721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_invalid_password()[pri:6, instance:testCases.LoginTest@15ff3e9e]">verify_with_invalid_email_and_invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:13</td>   <td>177945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:14</td>   <td>178617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:24</td>   <td>188672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_invalid_password()[pri:7, instance:testCases.LoginTest@15ff3e9e]">verify_with_valid_email_and_invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:26</td>   <td>190091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:26</td>   <td>190766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:38</td>   <td>202174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_valid_password()[pri:8, instance:testCases.LoginTest@15ff3e9e]">verify_with_invalid_email_and_valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:39</td>   <td>203289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:40</td>   <td>203989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:53</td>   <td>217379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_valid_password()[pri:9, instance:testCases.LoginTest@15ff3e9e]">verify_with_valid_email_and_valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:56</td>   <td>220550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:53:57</td>   <td>221304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:07</td>   <td>231872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.VerifyTitle()[pri:1, instance:testCases.RegistrationTest@3a93b025]">VerifyTitle</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:07</td>   <td>231881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:08</td>   <td>232537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:23</td>   <td>246986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyFunllNameFieldIsRequired()[pri:2, instance:testCases.RegistrationTest@3a93b025]">verifyFunllNameFieldIsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:24</td>   <td>248695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:25</td>   <td>249387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:36</td>   <td>260188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_Number_IsRequired()[pri:4, instance:testCases.RegistrationTest@3a93b025]">verify_Number_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:37</td>   <td>261835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:38</td>   <td>262509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:48</td>   <td>272115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_Email_IsRequired()[pri:5, instance:testCases.RegistrationTest@3a93b025]">verify_Email_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:49</td>   <td>273704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:50</td>   <td>274375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:01</td>   <td>285124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_IsRequired()[pri:6, instance:testCases.RegistrationTest@3a93b025]">verify_password_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:02</td>   <td>286832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:03</td>   <td>287489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:13</td>   <td>297689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_with_filled_all_Filled_IsEnabled()[pri:7, instance:testCases.RegistrationTest@3a93b025]">verify_with_filled_all_Filled_IsEnabled</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:25</td>   <td>309517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:26</td>   <td>310185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:37</td>   <td>321093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:38</td>   <td>322240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:38</td>   <td>322877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:51</td>   <td>335438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:52</td>   <td>336785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:53</td>   <td>337448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:03</td>   <td>347497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:04</td>   <td>348839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:05</td>   <td>349498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:16</td>   <td>360062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:17</td>   <td>361171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:17</td>   <td>361829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:26</td>   <td>370930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:27</td>   <td>371192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:27</td>   <td>371838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>381152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>381316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>381957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>390993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>391109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>391780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:58</td>   <td>402238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Valid_number()[pri:10, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Valid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:08</td>   <td>412405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:09</td>   <td>413077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:18</td>   <td>422658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyFlag()[pri:11, instance:testCases.RegistrationTest@3a93b025]">verifyFlag</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:18</td>   <td>422870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:19</td>   <td>423544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>432217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>432320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>432959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:38</td>   <td>442152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:38</td>   <td>442392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:39</td>   <td>443046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>452015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>452135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>452786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:57</td>   <td>461653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:07</td>   <td>471836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:08</td>   <td>472523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:17</td>   <td>481448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:27</td>   <td>491608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:28</td>   <td>492306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:38</td>   <td>502415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:48</td>   <td>512544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:49</td>   <td>513230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:59</td>   <td>523793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:00</td>   <td>524053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:00</td>   <td>524716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:10</td>   <td>534581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_valid_email()[pri:13, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_valid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:20</td>   <td>544852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:21</td>   <td>545517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:31</td>   <td>555202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:31</td>   <td>555306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:32</td>   <td>555960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:41</td>   <td>565443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:41</td>   <td>565534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:42</td>   <td>566187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:51</td>   <td>575600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:51</td>   <td>575726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:52</td>   <td>576375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>592145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>592264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>592903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:23</td>   <td>607771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Valid_password()[pri:15, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:33</td>   <td>617941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:34</td>   <td>618629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:45</td>   <td>629164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_with_blocked_domain()[pri:16, instance:testCases.RegistrationTest@3a93b025]">Verify_with_blocked_domain</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:46</td>   <td>630425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:47</td>   <td>631090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:57</td>   <td>641896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_with_registered_email()[pri:17, instance:testCases.RegistrationTest@3a93b025]">Verify_with_registered_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:59</td>   <td>643395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:00</td>   <td>644048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:10</td>   <td>654176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:21</td>   <td>665069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:21</td>   <td>665748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:31</td>   <td>675741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:42</td>   <td>686653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:43</td>   <td>687329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:52</td>   <td>696838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:03</td>   <td>707644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:04</td>   <td>708289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:14</td>   <td>718342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyExpiredLink()[pri:20, instance:testCases.RegistrationTest@3a93b025]">verifyExpiredLink</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:46</td>   <td>750025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:46</td>   <td>750748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:57</td>   <td>761029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyExpiredLink()[pri:20, instance:testCases.RegistrationTest@3a93b025]">verifyExpiredLink</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:03:18</td>   <td>782073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
</table>
