<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifyTitle()[pri:2, instance:testCases.LoginTest@15ff3e9e]">VerifyTitle</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:07</td>   <td>207950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.VerifyTitle()[pri:1, instance:testCases.RegistrationTest@3a93b025]">VerifyTitle</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:27</td>   <td>-12931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_Forgot_Password_Link()[pri:1, instance:testCases.LoginTest@15ff3e9e]">Verify_Forgot_Password_Link</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:51</td>   <td>11070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_Required_fields_validation()[pri:3, instance:testCases.LoginTest@15ff3e9e]">Verify_Required_fields_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:03</td>   <td>24025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Verify_button_is_disabled_with_blank_Email_and_password_combination()[pri:4, instance:testCases.LoginTest@15ff3e9e]">Verify_button_is_disabled_with_blank_Email_and_password_combination</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:10</td>   <td>630254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:31</td>   <td>651819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:52</td>   <td>672916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_createAccount()[pri:18, instance:testCases.RegistrationTest@3a93b025]">Verify_createAccount</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:37</td>   <td>297171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:51</td>   <td>311516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:03</td>   <td>323575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:16</td>   <td>336140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_fullName_validation(java.lang.String)[pri:8, instance:testCases.RegistrationTest@3a93b025]">Verify_fullName_validation</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:45</td>   <td>605242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_with_blocked_domain()[pri:16, instance:testCases.RegistrationTest@3a93b025]">Verify_with_blocked_domain</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:57</td>   <td>617974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.Verify_with_registered_email()[pri:17, instance:testCases.RegistrationTest@3a93b025]">Verify_with_registered_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:16</td>   <td>-23922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:28</td>   <td>-11584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:40</td>   <td>704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:52</td>   <td>12217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:05</td>   <td>25369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:16</td>   <td>36681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>47886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:40</td>   <td>60180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:01</td>   <td>81668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:24</td>   <td>104704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:44</td>   <td>124997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:02</td>   <td>142095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:14</td>   <td>154695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:26</td>   <td>166844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:40</td>   <td>180067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialization()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:53:57</td>   <td>197382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:08</td>   <td>208615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:25</td>   <td>225465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:38</td>   <td>238587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:50</td>   <td>250453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:03</td>   <td>263567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:26</td>   <td>286263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:38</td>   <td>298955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:53</td>   <td>313526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:05</td>   <td>325576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:17</td>   <td>337907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:27</td>   <td>347916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>358035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>367858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:09</td>   <td>389155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:19</td>   <td>399622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>409037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:39</td>   <td>419124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>428864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:08</td>   <td>448601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:28</td>   <td>468384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:49</td>   <td>489308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:00</td>   <td>500794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:21</td>   <td>521595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:32</td>   <td>532038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:42</td>   <td>542265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:52</td>   <td>552453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>568981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:34</td>   <td>594707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:47</td>   <td>607168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:00</td>   <td>620126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:21</td>   <td>641826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:43</td>   <td>663407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:04</td>   <td>684367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:46</td>   <td>726826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTest.initialization()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:27</td>   <td>-12261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:39</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:50:51</td>   <td>11554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:04</td>   <td>24677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:15</td>   <td>36011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>47216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:39</td>   <td>59519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:00</td>   <td>80996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:23</td>   <td>103990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:44</td>   <td>124303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:01</td>   <td>141427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:13</td>   <td>154023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:26</td>   <td>166169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:39</td>   <td>179367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:56</td>   <td>196628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testCases.LoginTest@15ff3e9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:07</td>   <td>207959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:24</td>   <td>224773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:37</td>   <td>237913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:49</td>   <td>249782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:02</td>   <td>262910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:25</td>   <td>285595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:38</td>   <td>298318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:52</td>   <td>312863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:04</td>   <td>324917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:17</td>   <td>337249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:27</td>   <td>347270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>357394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>367187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:08</td>   <td>388483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:18</td>   <td>398948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>408398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:38</td>   <td>418470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>428213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:07</td>   <td>447914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:27</td>   <td>467686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:48</td>   <td>488622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:00</td>   <td>500131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:20</td>   <td>520930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:31</td>   <td>531384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:41</td>   <td>541612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:51</td>   <td>551804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>568342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:33</td>   <td>594019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:46</td>   <td>606503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:59</td>   <td>619473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:21</td>   <td>641147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:01:42</td>   <td>662731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:03</td>   <td>683722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:46</td>   <td>726103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:03:18</td>   <td>758151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.teardown()[pri:0, instance:testCases.RegistrationTest@3a93b025]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:14</td>   <td>694420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyExpiredLink()[pri:20, instance:testCases.RegistrationTest@3a93b025]">verifyExpiredLink</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:02:57</td>   <td>737107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyExpiredLink()[pri:20, instance:testCases.RegistrationTest@3a93b025]">verifyExpiredLink</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:18</td>   <td>398736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyFlag()[pri:11, instance:testCases.RegistrationTest@3a93b025]">verifyFlag</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:23</td>   <td>223064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verifyFunllNameFieldIsRequired()[pri:2, instance:testCases.RegistrationTest@3a93b025]">verifyFunllNameFieldIsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:48</td>   <td>248193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_Email_IsRequired()[pri:5, instance:testCases.RegistrationTest@3a93b025]">verify_Email_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:54:36</td>   <td>236266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_Number_IsRequired()[pri:4, instance:testCases.RegistrationTest@3a93b025]">verify_Number_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:15</td>   <td>35875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:27</td>   <td>47082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:39</td>   <td>59376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:51:50</td>   <td>70831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:13</td>   <td>93836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:52:34</td>   <td>114118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:01</td>   <td>141256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:5, instance:testCases.LoginTest@15ff3e9e]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:28</td>   <td>408295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:38</td>   <td>418230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:48</td>   <td>428093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:57:57</td>   <td>437731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:17</td>   <td>457526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:38</td>   <td>478493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:58:59</td>   <td>499871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_Invalid_email(java.lang.String)[pri:12, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_Invalid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:10</td>   <td>510659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_email_validation_with_valid_email()[pri:13, instance:testCases.RegistrationTest@3a93b025]">verify_email_validation_with_valid_email</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:26</td>   <td>347008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:37</td>   <td>357230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:47</td>   <td>367071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Invalid_number(java.lang.String)[pri:9, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Invalid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:56:58</td>   <td>378316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_number_validation_with_Valid_number()[pri:10, instance:testCases.RegistrationTest@3a93b025]">verify_number_validation_with_Valid_number</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:01</td>   <td>261202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_IsRequired()[pri:6, instance:testCases.RegistrationTest@3a93b025]">verify_password_IsRequired</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:31</td>   <td>531280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:41</td>   <td>541521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:59:51</td>   <td>551678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:08</td>   <td>568223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Invalid_password(java.lang.String)[pri:14, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 14:00:23</td>   <td>583849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_password_validation_with_Valid_password()[pri:15, instance:testCases.RegistrationTest@3a93b025]">verify_password_validation_with_Valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="a68a98">  <td>19/09/19 13:55:13</td>   <td>273767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.verify_with_filled_all_Filled_IsEnabled()[pri:7, instance:testCases.RegistrationTest@3a93b025]">verify_with_filled_all_Filled_IsEnabled</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:12</td>   <td>152799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_invalid_password()[pri:6, instance:testCases.LoginTest@15ff3e9e]">verify_with_invalid_email_and_invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:38</td>   <td>178252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_invalid_email_and_valid_password()[pri:8, instance:testCases.LoginTest@15ff3e9e]">verify_with_invalid_email_and_valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:24</td>   <td>164750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_invalid_password()[pri:7, instance:testCases.LoginTest@15ff3e9e]">verify_with_valid_email_and_invalid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/09/19 13:53:53</td>   <td>193457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_with_valid_email_and_valid_password()[pri:9, instance:testCases.LoginTest@15ff3e9e]">verify_with_valid_email_and_valid_password</td> 
  <td>main@1754662105</td>   <td></td> </tr>
</table>
